.main {
    height: 100%;
}

.main .footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding: 6rem 2rem 2rem 2rem;
}

.main .search {
    position: relative;
    width: 100%;
}

.main .search input {
    padding-right: 1.5rem;
}

.main .search i {
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
}

.main .search i:hover {
    color: #5bc0de;
}

@media (min-width: 576px) {
    .main .search {
        width: 10rem;
    }
}
.mwt_border{
	width:250px;
	height:90px;
	text-align:center;
	background:#fff;
	position:relative;
	border: solid 1px #333;
	margin:30px;
	padding:30px;
    border-radius: 2rem;
    top:12rem;
}

.mwt_border .arrow_b_int{
	width:0px;
	height:0px;
	border-width:15px;
	border-style:solid;
	border-color:#333 transparent transparent transparent ;
	position:absolute;
	bottom:-30px;
	right:50px;
}

.mwt_border .arrow_b_out{
	width:0px;
	height:0px;
	border-width:15px;
	border-style:solid;
	border-color:#fff transparent transparent transparent ;
	position:absolute;
	bottom:-29px;
	right:50px;
}
.hide {
    visibility: hidden;
}
